<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- WCF大数据量传输配置 的指定的binding加bindingConfiguration="BasicHttpBindingConfig"-->
        <binding name="BasicHttpBindingConfigasdasd" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>